*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #ffffff, #424242);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #000000 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #000000;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

.dropdown-item{
    background-color: #272527;
}
/* 
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
} 
*/


/*banner section*/
#banner
{
    background-image: linear-gradient(to right, #ffffff, #424242);
    color: #000000;
    padding-top: 5%;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
/* .play-btn
{
    width: 45px;
    margin: 20px;
} */
#banner a
{
    color: #fff;
    text-decoration: none;
}
.botton-img
{
    width: 100%;
}
/*Services*/
#services
{
    padding: 80px 0;
}
.services-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before
{
    content: '';
    background: #e2dae2;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #e2dae2;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #e2dae2, #373538);
}

/*About Us Section*/
#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}
#about-us ul
{
    margin-left: 20px;
}

/*testimonials*/

#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    border-left: 4px solid #e2dae2;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}

/*Social Media*/

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img
{
    width: 60px;
    transition: 0.5s;
}

.social-icons  a:hover img
{
    transform: translateY(-10px);
}

/*footer*/
#footer
{
    background-image: linear-gradient(to right, #ffffff, #424242);
    color: #fff;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}
.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    background-image: linear-gradient(to right, #ffffff, #424242);
}

/**/

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }